.loading {
  font-size: 3rem;
}

.homeContainer {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  overflow: hidden;
}

.homeNav {
  width: 100%;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
  height: 100%;
}

.userIcon {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.navIcon {
  font-size: 3rem;
  color: black;
}
